<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<properties>
		<!-- 文件输出格式 -->
		<property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level
			[%thread] %c [%L] -| %msg%n</property>
	</properties>

	<appenders>
	
	 	<!-- 输出到控制台 -->
		<Console name="Console" target="system_out">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		
		<!-- 输出到文件 -->
		 <!-- name可以自定义，作用是在Loggers中AppenderRef中使用 -->
        <!-- fileName定义输出文件名称（当前文件） -->
        <!-- filePattern定义输出文件名称（文件满足条件后自动截断，生成历史文件） -->
        <RollingFile name="DEBUG_ROLLING_FILE"
                     fileName="E:/importDoc/framework/WeX5_V3.7/logs/biz-debugs.log"
                     filePattern="E:/importDoc/framework/WeX5_V3.7/logs/%d{yyyy-MM-dd}-biz-debugs.log">
            <PatternLayout>
                <Pattern>%d [%t] %-5p [%c] - %m%n  </Pattern>
            </PatternLayout>

            <!-- 文件截断的条件，具体参考文档 ,时间每24小时,大小250M-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
  
	</appenders>
	
	<!--配置mybatis日志 -->
	<loggers>
		<logger name="log4j.logger.org.mybatis" level="debug"
			additivity="false">
			<appender-ref ref="Console" />
		</logger>
		
		<logger name="log4j.logger.java.sql" level="debug" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		
		<logger name="com.zero.core" level="error">
		  
		</logger>
		<root level="error">
			<appenderref ref="Console" />
			<!-- <appender-ref ref="DEBUG_ROLLING_FILE" /> -->
		</root>
	</loggers>

</configuration>